html {
  background-color: white;
  max-width: 500px;
}
img {
	width: 300px;
	border: 1px solid black;
}
.hospital_bar {
	background-color: #CCC;
	text-align: left;
}
#berkeley {
	background-color: pink;
	/*width: 83px;*/
}