.chart-wrapper {
	width:100%;
	height:auto;
}
.bar {
    height:50px;
    color:black;
    padding-right:4px;
    text-align:right;
    padding-top:12px;
    font-size:18px;
}
.units {
    width:100%;
    height:2px;
    background-color:white;
    margin-top:2px;
    text-align:right;
    border-top:2px solid black;
    font-size:18px;
}